*{
    margin: 0;padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    text-decoration: none;
}

body {
    min-height: 100vh;
    background: url(../Images/background.jpg);
    background-size: cover;
    background-position: center;
}

/*header starts*/

header {
    position: fixed;
    top: 0; left: 0; right: 0;
    background: #44335E;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    padding: 20px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

header .logo {
    color: #fff;
    font-size: 1.5rem;
    font-weight: bolder;
}

header .navbar ul {
    list-style: none;
}

header .navbar ul li {
    position: relative;
    float: left;
}

header .navbar ul li a {
    font-size: 20px;
    padding: 20px;
    color: #fff;
    display: block;
}

header .navbar ul li a:hover {
    padding: 20px;
    background: #9F86AE;
    border-radius: .5rem;
}


/*header ends*/